<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.

        <table class="job-listing">
                <tr>

                    @foreach (var Column in ViewBag.columns)
                    {
                            if (Column.Value != "All")
                            {
                                <th>@Column.Value</th>
                            }

                    }

                </tr>

            @foreach (var jobs in ViewBag.Jobs)
            {
                <tr>
                    <td>@jobs.Employer</td>
                    <td>@jobs.Location</td>
                    <td>@jobs.PositionType</td>
                    <td>@jobs.CoreCompetency</td>
            </tr>
            }

        </table>
        

    }


</div>